<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <header><%- include('./partials/navigation') %></header>

    <%- include(`../pages/${template}`) %> <%- include('./partials/scripts') %>

    <!--FOOTER-->
    <footer><%- include('./partials/foot') %></footer>
  </body>
</html>
